<!DOCTYPE html>
<html>

<head>
    <html>

    <head>
        <title>Chat Nào Mọi Người Ơi</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <!-- CSS only -->
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css">

    </head>

<body>
    <main class="content">
        <div class="container p-0">
            <div class="row">
                <h1 class="h3 col-md-9">Messages</h1>
                <div class="col-md-3">
                    <div class="dropdown">
                        <span>xin chào</span> <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <span>
                                <%= user.username %>
                            </span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li><a class="dropdown-item" href="/api/auth/logout">Logout</a></li>
                        </ul>
                    </div>

                </div>

            </div>

            <div class="card">
                <div class="row g-0">
                    <div class="col-12 col-lg-5 col-xl-3 border-right">

                        <div class="px-4 d-none d-md-block">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <input type="text" class="form-control my-3" placeholder="Search...">
                                </div>
                            </div>
                        </div>
                        <ul id="users" class="list-group">

                        </ul>
                        <!-- <div class="content">
                            
                            <span id="usercurrent" style="color: #000;"></span>
                            <h5 style="color: #000;">User Available</h5>
                            
                        </div> -->
                        <!-- <a href="#" class="list-group-item list-group-item-action border-0">
                            <div class="badge bg-success float-right">5</div>
                            <div class="d-flex align-items-start">
                                <img src="https://bootdey.com/img/Content/avatar/avatar5.png" class="rounded-circle mr-1" alt="Vanessa Tucker" width="40" height="40">
                                <div class="flex-grow-1 ml-3">
                                    Vanessa Tucker
                                    <div class="small"><span class="fas fa-circle chat-online"></span> Online</div>
                                </div>
                            </div>
                        </a> -->


                        <hr class="d-block d-lg-none mt-1 mb-0">
                    </div>
                    <div class="col-12 col-lg-7 col-xl-9">
                        <div class="py-2 px-4 border-bottom d-none d-lg-block" id="boxChat">


                        </div>
                        <div class="position-relative" id="chat-messages">
                            <div class="chat-messages p-4">

                            </div>
                        </div>
                        <form action="">
                            <div class="flex-grow-0 py-3 px-4 border-top" id="form-chat" style="display:none">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="m" placeholder="Type your message">
                                    <button class="btn btn-primary" id="sendMessage">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="popup_show popup_full_scr popup_call_chat365 back_w" id="popup_show_create_conf" style="z-index: 5; display: none;">
        <div class="container_popup position_r">
            <div class="box_popup box_popup_conference position_r">
                <div class="body_video_call">
                <div class="header_popup_conference d_flex space_b position_r" style="position:absolute;width: 100%;justify-content: end;">
                    <div class="header_popup_r d_flex align_c position_r">
                        <!-- <img class="add_user mr_10" src="../images/img_add_user.png" alt=""> -->
                        <div class="list_user_join_conf color_white font_s14 d_flex space_b">
                            <div class="item_user d_flex flex_column align_c">
                                <!-- <img src="../images/7.png" alt=""> -->
                                <p class="p_name_chon text_a_c" id="count_time_call"><span class="time_h">00</span>:<span class="time_p">01</span>:<span class="time_g">05</span></p>
                                <img style="width: 100px;height:100px;display: none;" id="camLocalOnOff" src="images/camClose.png" alt="Cam Status" srcset="">
                                <video width="200px" id="localVideo" autoplay="" muted="" playsinline=""></video>
                            </div>
                            <div class="item_user item_user_more d_flex flex_center align_c position_r cursor_p">
                                <img src="../images/coun_overlay.png" alt="">
                                <p class="p_name_chon font_s18 line_h22 font_w400 text_a_c">+4</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body_popup_conference d_flex just_c_c">
                    <img width="500px" id="camRemoteOnOff" src="../images/camClose.png" alt="Cam Remote Status" style="display: none">
                    <img class="off_mic_call" src="../images/images_chat/iconMicOff.png" alt="mic off" style="display:none;">
                    <img class="hand_wave" src="../images/video_call/wave_hand.gif" alt="vẫy tay" style="display: none;">
                    <video style="width: 55vw;height: 100vh;" id="remoteVideo" autoplay="" playsinline=""></video>
                </div>
                </div>
                <div class="footer_popup_conference d_flex space_b color_white font_s16">
                    <div class="footer_popup_l d_flex align_c space_b">
                    </div>
                    <div class="footer_popup_c d_flex align_c">
                            <div id="option_tb" style="display: none;">
                                <p>Chọn một Camera</p>
                                <div class="item_option_tb"></div>
                            </div>
                            <div class="call_camera">
                                <img id="setCam" class="cursor_p" src="../images/video_call/camOn.png" alt="camera">
                                <img id="show_op_cam" src="../images/video_call/i_dropup.png" alt="mũi tên">
                            </div>
                        <img class="mic_off item_footer cursor_p" src="../images/mic_off.png" alt="" style="display: none;">
                        <img class="end_call cursor_p" src="../images/end_call.png" alt="" style="display: none;">
                        <img class="cursor_p" src="../images/end_calling.png" id="endcall" alt="" style="margin-right: 40px">
                            <div id="option_tb_mic" style="display: none;">
                                <p>Chọn một Mic</p>
                                <div class="item_option_tb"></div>
                            </div>
                            <div class="call_mic">
                                <img class="cursor_p" src="../images/video_call/micOn.png" id="setMic" alt="mic">
                                <img id="show_op_mic" src="../images/video_call/i_dropup.png" alt="mũi tên">
                            </div>
                        <img style="border-radius: 50%;height:50px;width:50px;border: 1px solid #fff;" class="cursor_p" src="../images/images_chat/share_screen.png" id="screenShare" alt="">
                        <img style="border-radius: 50%;height:50px;width:50px;border: 1px solid #fff;display:none;" class="cursor_p" src="../images/images_chat/off_sharesreen.png" id="offscreenShare" alt="">
                    </div>
                    <div class="footer_popup_r d_flex align_c space_b">
                    <img class="cursor_p" src="../images/video_call/ic_switch_camera.png" id="switchCam" alt="">
                        <!-- <div class=" tro_chuyen d_flex flex_column align_c cursor_p">
                            <img src="../images/img_chat_w.png" alt="">
                            <p>Trò chuyện</p>
                        </div> -->
                        <div class="div_waves_hand">
                            <img id="waves_hand" class="cursor_p" src="../images/video_call/wave_hand.gif" alt="vẫy tay">
                            <span>Vẫy tay</span>
                        </div>
                        <img id="option_view_1" src="../images/video_call/option_view_1.png" alt="chia đôi màn hình" style="display: none">
                        <img id="option_view_2" src="../images/video_call/option_view_2.png" alt="tắt chia đôi màn hình">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="popup_show popup_end_rec back_white" id="popup_show_call_mess" style="z-index: 5; display: none;">
        <div class="container_popup">
            <div class="box_popup_end_rec align_c d_flex flex_column space_b">
                <p class="font_s18 font_wB color_grey text_a_c text_nhan_goi"></p>
                <div style="width: 100%;display: flex;justify-content: space-around;">
                <p id="answer_call" class="font_s16 font_wB color_grey text_a_c" type_call="1" data-id="2">Trả lời</p>
                <p id="reject" class="font_s16 font_wB color_grey text_a_c">Hủy</p>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <!-- <script src="https://tu-anh.herokuapp.com/socket.io/socket.io.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"
        integrity="sha512-eVL5Lb9al9FzgR63gDs1MxcDS2wFu3loYAgjIH0+Hg38tCS8Ag62dwKyH+wzDb+QauDpEZjXbMn11blw8cbTJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- <script src="https://unpkg.com/peerjs@1.3.2/dist/peerjs.min.js"></script> -->
    <script src="/js/script.js"></script>
    <script>
        function getCookie(cname) {
            let name = cname + "=";
            let decodedCookie = decodeURIComponent(document.cookie);
            let ca = decodedCookie.split(';');
            for (let i = 0; i < ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }
        const chatApp = new ChatApp();

        let userCurrent = '<%= user._id %>';
        let username = '<%= user.username %>';
        chatApp.addUser(userCurrent, username);
        let userReceiver;
        let conversation;

        function callClick() {
            chatApp.callClick(userReceiver, conversation);
        }

        $('#answer_call').click((e) => {
            chatApp.answereClick(userCurrent, userReceiver);
        });

        $("form").submit((e) => {
            e.preventDefault();
        })
        $("#sendMessage").click(() => {
            if (!userReceiver || !conversation) {
                return;
            }
            msg = $("#m").val();
            chatApp.sendMessageClick(userReceiver, conversation, msg);
            let msgDate = new Date();
            $(".chat-messages").append(`<div class="chat-message-right pb-4">
                                    <div>
                                        <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="rounded-circle mr-1" alt="${userCurrent}" width="40" height="40">
                                        <div class="text-muted small text-nowrap mt-2">${msgDate.getHours()}:${msgDate.getMinutes()}</div>
                                    </div>
                                    <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
                                        <div class="font-weight-bold mb-1">Bạn</div>
                                        ${msg}
                                    </div>
                                </div>`);
            $("#m").val("");
            $(".chat-messages").scrollTop($(".chat-messages").get(0).scrollHeight);
            return false;
        });
        // $("#users").append(
        //   $(`<a href="#" class="list-group-item list-group-item-action border-0" onClick="clickLi('${user.id}')">
        //                     <div class="badge bg-success float-right"></div>
        //                     <div class="d-flex align-items-start" id="'${user.id}'">
        //                         <img src="https://bootdey.com/img/Content/avatar/avatar5.png" class="rounded-circle mr-1" alt="${user.username}" width="40" height="40">
        //                         <div class="flex-grow-1 ml-3">
        //                             ${user.username}
        //                             ${isOnline}

        //                         </div>
        //                     </div>
        //                 </a>`)
        // );

        $.ajax({
            url: '/api/conversations',
            type: 'GET',
            success: function (data) {
                data.forEach(conversations => {
                    $("#users").append(
                        $(`<a href="#" class="list-group-item list-group-item-action border-0" onClick="clickLi('${conversations._id}','${conversations.members[0]._id}')">
                            <div class="badge bg-success float-right"></div>
                            <div class="d-flex align-items-start" id="${conversations.members[0]._id}">
                                <img src="https://bootdey.com/img/Content/avatar/avatar5.png" class="rounded-circle mr-1" alt="${conversations.members[0]._id}" width="40" height="40">
                                <div class="flex-grow-1 ml-3">
                                    ${conversations.members[0].username}
                                    <div class="small isOnline">Offline</div>
                                </div>
                            </div>
                        </a>`)
                    );
                });

            }
        })

        function clickLi(converId, userId) {
            // userReceiver = $(this).attr('id');
            userReceiver = "" + userId;
            conversation = "" + converId;
            $.ajax({
                url: '/api/messages',
                type: 'POST',
                data: {
                    converId,
                    // conversation: this.conversation || "",
                },
                contentType: "application/x-www-form-urlencoded",
                success: function (data) {
                    $("#boxChat").empty();
                    $(".chat-messages").empty();
                    $("#boxChat").append(`<div class="d-flex align-items-center py-1">
                                <div class="position-relative">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="rounded-circle mr-1" alt="" width="40"
                                        height="40">
                                </div>
                                <div class="flex-grow-1 pl-3">
                                    <strong>
                                       
                                    </strong>
                                    <div class="text-muted small"><em></em></div>
                                </div>
                                <div>
                                    <button class="btn btn-primary btn-lg mr-1 px-3"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                            height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" class="feather feather-phone feather-lg">
                                            <path
                                                d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z">
                                            </path>
                                        </svg></button>
                                    <button class="btn btn-info btn-lg mr-1 px-3 d-none d-md-inline-block" onClick=callClick()><svg
                                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-video feather-lg">
                                            <polygon points="23 7 16 12 23 17 23 7"></polygon>
                                            <rect x="1" y="5" width="15" height="14" rx="2" ry="2"></rect>
                                        </svg></button>
                                    <button class="btn btn-light border btn-lg px-3"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                            height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal feather-lg">
                                            <circle cx="12" cy="12" r="1"></circle>
                                            <circle cx="19" cy="12" r="1"></circle>
                                            <circle cx="5" cy="12" r="1"></circle>
                                        </svg></button>
                                </div>
                            </div>`);
                    data.messages.forEach(msg => {
                        let isSelf;
                        let senderName;
                        if (msg.sender._id == userCurrent) {
                            isSelf = "right";
                            senderName = "Bạn";
                        } else {
                            senderName = msg.sender.username;
                            isSelf = "left";
                        }
                        let msgDate = new Date(Date.parse(msg.createdAt));
                        $(".chat-messages").append(`<div class="chat-message-${isSelf} pb-4">
            <div>
                <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">
                <div class="text-muted small text-nowrap mt-2">${msgDate.getHours()}:${msgDate.getMinutes()}</div>
            </div>
            <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
                <div class="font-weight-bold mb-1">${senderName}</div>
                ${msg.text}
            </div>
        </div>`);
                    })
                    $("#chat-messages").show();
                    $(".chat-messages").scrollTop($(".chat-messages").get(0).scrollHeight);
                    $("#form-chat").show();
                    // $("#boxChat").append(data);
                }
            })
            console.log(chatApp.userReceiver);

        }

        function clearLiMess() {
            $("#messages").empty();

        }</script>
</body>

</html>