body{margin-top:20px;}

.chat-online {
    color: #34ce57
}

.chat-offline {
    color: #e4606d
}

.chat-messages {
    height: 700px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll
}

.chat-message-left,
.chat-message-right {
    display: flex;
    flex-shrink: 0
}

.chat-message-left {
    margin-right: auto
}

.chat-message-right {
    flex-direction: row-reverse;
    margin-left: auto
}
.py-3 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}
.px-4 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
}
.flex-grow-0 {
    flex-grow: 0!important;
}
.border-top {
    border-top: 1px solid #dee2e6!important;
}

/* @extend display-flex; */
display-flex, .display-flex, .display-flex-center, .signup-content, .signin-content, .social-login, .socials {
  display: flex;
  display: -webkit-flex; }

/* @extend list-type-ulli; */
list-type-ulli, .socials {
  list-style-type: none;
  margin: 0;
  padding: 0; }

/* poppins-300 - latin */
a:focus, a:active {
  text-decoration: none;
  outline: none;
  transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -webkit-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  -ms-transition: all 300ms ease 0s; }

input, select, textarea {
  outline: none;
  appearance: unset !important;
  -moz-appearance: unset !important;
  -webkit-appearance: unset !important;
  -o-appearance: unset !important;
  -ms-appearance: unset !important; }

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  appearance: none !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  -o-appearance: none !important;
  -ms-appearance: none !important;
  margin: 0; }

input:focus, select:focus, textarea:focus {
  outline: none;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  -ms-box-shadow: none !important; }

input[type=checkbox] {
  appearance: checkbox !important;
  -moz-appearance: checkbox !important;
  -webkit-appearance: checkbox !important;
  -o-appearance: checkbox !important;
  -ms-appearance: checkbox !important; }

input[type=radio] {
  appearance: radio !important;
  -moz-appearance: radio !important;
  -webkit-appearance: radio !important;
  -o-appearance: radio !important;
  -ms-appearance: radio !important; }

img {
  max-width: 100%;
  height: auto; }

figure {
  margin: 0; }

p {
  margin-bottom: 0px;
  font-size: 15px;
  color: #777; }

h2 {
  line-height: 1.66;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #222;
  font-family: Poppins;
  font-size: 36px; }

.main {
  background: #f8f8f8;
  padding: 150px 0; }

.clear {
  clear: both; }

body {
  font-size: 13px;
  line-height: 1.8;
  color: #222;
  background: #f8f8f8;
  font-weight: 400;
  font-family: Poppins; }

.container {
  width: 900px;
  background: #fff;
  margin: 0 auto;
  box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px; }

.display-flex {
  justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -o-justify-content: space-between;
  -ms-justify-content: space-between;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center; }

.display-flex-center {
  justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center; }

.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); }

.signup {
  margin-bottom: 150px; }

.signup-content {
  padding: 75px 0; }

.signup-form, .signup-image, .signin-form, .signin-image {
  width: 50%;
  overflow: hidden; }

.signup-image {
  margin: 0 55px; }

.form-title {
  margin-bottom: 33px; }

.signup-image {
  margin-top: 45px; }

figure {
  margin-bottom: 50px;
  text-align: center; }

.form-submit {
  display: inline-block;
  background: #6dabe4;
  color: #fff;
  border-bottom: none;
  width: auto;
  padding: 15px 39px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  margin-top: 25px;
  cursor: pointer; }
  .form-submit:hover {
    background: #4292dc; }

#signin {
  margin-top: 16px; }

.signup-image-link {
  font-size: 14px;
  color: #222;
  display: block;
  text-align: center; }

.term-service {
  font-size: 13px;
  color: #222; }

.signup-form {
  margin-left: 75px;
  margin-right: 75px;
  padding-left: 34px; }

.register-form {
  width: 100%; }

.form-group {
  position: relative;
  margin-bottom: 25px;
  overflow: hidden; }
  .form-group:last-child {
    margin-bottom: 0px; }

input {
  width: 100%;
  display: block;
  border: none;
  border-bottom: 1px solid #999;
  padding: 6px 30px;
  font-family: Poppins;
  box-sizing: border-box; }
  input::-webkit-input-placeholder {
    color: #999; }
  input::-moz-placeholder {
    color: #999; }
  input:-ms-input-placeholder {
    color: #999; }
  input:-moz-placeholder {
    color: #999; }
  input:focus {
    border-bottom: 1px solid #222; }
    input:focus::-webkit-input-placeholder {
      color: #222; }
    input:focus::-moz-placeholder {
      color: #222; }
    input:focus:-ms-input-placeholder {
      color: #222; }
    input:focus:-moz-placeholder {
      color: #222; }

input[type=checkbox]:not(old) {
  width: 2em;
  margin: 0;
  padding: 0;
  font-size: 1em;
  display: none; }

input[type=checkbox]:not(old) + label {
  display: inline-block;
  line-height: 1.5em;
  margin-top: 6px; }

input[type=checkbox]:not(old) + label > span {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: 15px;
  margin-bottom: 3px;
  border: 1px solid #999;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  background: white;
  background-image: -moz-linear-gradient(white, white);
  background-image: -ms-linear-gradient(white, white);
  background-image: -o-linear-gradient(white, white);
  background-image: -webkit-linear-gradient(white, white);
  background-image: linear-gradient(white, white);
  vertical-align: bottom; }

input[type=checkbox]:not(old):checked + label > span {
  background-image: -moz-linear-gradient(white, white);
  background-image: -ms-linear-gradient(white, white);
  background-image: -o-linear-gradient(white, white);
  background-image: -webkit-linear-gradient(white, white);
  background-image: linear-gradient(white, white); }

input[type=checkbox]:not(old):checked + label > span:before {
  content: '\f26b';
  display: block;
  color: #222;
  font-size: 11px;
  line-height: 1.2;
  text-align: center;
  font-family: 'Material-Design-Iconic-Font';
  font-weight: bold; }

.agree-term {
  display: inline-block;
  width: auto; }

label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  color: #222; }

.label-has-error {
  top: 22%; }

label.error {
  position: relative;
  background: url("../images/unchecked.gif") no-repeat;
  background-position-y: 3px;
  padding-left: 20px;
  display: block;
  margin-top: 20px; }

label.valid {
  display: block;
  position: absolute;
  right: 0;
  left: auto;
  margin-top: -6px;
  width: 20px;
  height: 20px;
  background: transparent; }
  label.valid:after {
    font-family: 'Material-Design-Iconic-Font';
    content: '\f269';
    width: 100%;
    height: 100%;
    position: absolute;
    /* right: 0; */
    font-size: 16px;
    color: green; }

.label-agree-term {
  position: relative;
  top: 0%;
  transform: translateY(0);
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0); }

.material-icons-name {
  font-size: 18px; }

.signin-content {
  padding-top: 67px;
  padding-bottom: 87px; }

.social-login {
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  margin-top: 80px; }

.social-label {
  display: inline-block;
  margin-right: 15px; }

.socials li {
  padding: 5px; }
  .socials li:last-child {
    margin-right: 0px; }
  .socials li a {
    text-decoration: none; }
    .socials li a i {
      width: 30px;
      height: 30px;
      color: #fff;
      font-size: 14px;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -o-border-radius: 5px;
      -ms-border-radius: 5px;
      transform: translateZ(0);
      -moz-transform: translateZ(0);
      -webkit-transform: translateZ(0);
      -o-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: transform;
      transition-property: transform;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out; }
  .socials li:hover a i {
    -webkit-transform: scale(1.3) translateZ(0);
    transform: scale(1.3) translateZ(0); }

.zmdi-facebook {
  background: #3b5998; }

.zmdi-twitter {
  background: #1da0f2; }

.zmdi-google {
  background: #e72734; }

.signin-form {
  margin-right: 90px;
  margin-left: 80px; }

.signin-image {
  margin-left: 110px;
  margin-right: 20px;
  margin-top: 10px; }

@media screen and (max-width: 1200px) {
  .container {
    width: calc( 100% - 30px);
    max-width: 100%; } }
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1200px; } }
@media screen and (max-width: 768px) {
  .signup-content, .signin-content {
    flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center; }

  .signup-form {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    /* box-sizing: border-box; */
    padding: 0 30px; }

  .signin-image {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 50px;
    order: 2;
    -moz-order: 2;
    -webkit-order: 2;
    -o-order: 2;
    -ms-order: 2; }

  .signup-form, .signup-image, .signin-form, .signin-image {
    width: auto; }

  .social-login {
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center; }

  .form-button {
    text-align: center; }

  .signin-form {
    order: 1;
    -moz-order: 1;
    -webkit-order: 1;
    -o-order: 1;
    -ms-order: 1;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0 30px; }

  .form-title {
    text-align: center; } }
@media screen and (max-width: 400px) {
  .social-login {
    flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column; }

  .social-label {
    margin-right: 0px;
    margin-bottom: 10px; } }

/*# sourceMappingURL=style.css.map */
@media all{
  *{padding:0;margin:0;font-family:Roboto;box-sizing:border-box;}
  img{object-fit:cover;}
  .cursor_p{cursor:pointer;}
  .d_flex{display:flex;}
  #switchCam{display:none;}
  #screenShare{display:inline-block;}
  .space_b{justify-content:space-between;}
  #popup_show_create_conf .call_camera,#popup_show_create_conf .call_mic{width:100px;height:50px;background:#fff;border-radius:15px;padding:10px 5px;display:flex;justify-content:space-between;align-items:center;margin-right:40px;}
  #popup_show_create_conf #show_op_cam,#popup_show_create_conf #show_op_mic{width:20px;height:10px;cursor:pointer;}
  #popup_show_create_conf #setCam,#popup_show_create_conf #setMic{width:44px;height:30px;object-fit:contain;}
  #popup_show_create_conf .off_mic_call{width:20px;height:30px;z-index:2;position:absolute;bottom:105px;}
  #popup_show_create_conf .hand_wave{width:70px;height:70px;position:absolute;bottom:105px;left:0;z-index:2;border-radius:15px;}
  #popup_show_create_conf #waves_hand{height:36px;border-radius:10px;display:block;}
  #popup_show_create_conf .div_waves_hand{margin-left:40px;text-align:center;height:auto;}
  #popup_show_create_conf .div_waves_hand span{font-size:12px;float:left;padding-top:5px;}
  #popup_show_create_conf #option_view_1,#popup_show_create_conf #option_view_2{height:50px;width:50px;border-radius:5px;margin-left:40px;cursor:pointer;}
  .flex_center{justify-content:center;}
  .text_a_c{text-align:center;}
  .flex_column{flex-direction:column;}
  .align_c{align-items:center;}
  #setCam,#setMic{width:100px;}
  #option_tb,#option_tb_mic{position:absolute;height:auto;top:0px;background:#fff;border-radius:15px;padding:20px;}
  #option_tb p,#option_tb_mic p{font-size:16px;color:#000;font-weight:bold;padding:0;margin-bottom:12px;}
  .color_white{color:#ffffff;}
  .color_grey{color:#474747;}
  .back_green{background:#76B51B;}
  .back_org{background:#FFA800;}
  .back_w{background:#ffffff;}
  .font_s14{font-size:14px;}
  .font_s16{font-size:16px;}
  .font_s18{font-size:18px;}
  .line_h22{line-height:22px;}
  .font_w400{font-weight:400;}
  .position_r{position:relative;}
  .position_a{position:absolute;}
  ::-webkit-scrollbar{background-color:#F5F5F5;width:3px;height:7px;}
  ::-webkit-scrollbar-thumb{background:#b7b9c5;}
  .tn_status{width:12px;height:12px;right:0px;top:28px;border-radius:50%;position:relative;}
  .tn_status span{border:2px solid #FFFFFF;box-sizing:border-box;border-radius:50%;position:absolute!important;width:12px;height:12px;top:-24px;right:0;}
  .p_name_chon{overflow:hidden;text-overflow:ellipsis;-webkit-line-clamp:1;display:-webkit-box;-webkit-box-orient:vertical;}
  @media (max-width: 768px){
  #popup_show_create_conf .hand_wave{bottom:140px;}
  .footer_popup_conference{height:140px!important;}
  .footer_popup_conference .footer_popup_r{margin-top:8px;}
  .footer_popup_conference{display:flex;flex-wrap:wrap;}
  #option_view_2,#option_view_1{display:none;}
  .popup_call_chat365 .header_popup_conference{z-index:9;}
  #remoteVideo{height:100vh!important;}
  #localVideo{max-height:110px;}
  #switchCam{display:inline-block;}
  #screenShare{display:none;}
  }
  }

  @media all{
  .just_c_c{justify-content:center;}
  .popup_show{position:fixed;z-index:4;padding-top:30px;padding-bottom:30px;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgba(0, 0, 0, 0.4);}
  .container_popup{width:fit-content;margin:auto;box-shadow:0px 0px 10px rgb(0 0 0 / 10%);border-radius:10px;-webkit-animation-name:animatetop;-webkit-animation-duration:0.4s;animation-name:animatetop;animation-duration:0.4s;}
  .box_popup{margin:auto;box-shadow:0px 2px 5px 3px rgb(0 0 0 / 10%);border-radius:15px;}
  .popup_full_scr{position:fixed;padding-top:0!important;padding-bottom:0;width:100%;height:100vh;}
  .popup_full_scr .container_popup{width:100%;}
  .popup_full_scr .box_popup{height:100vh;background:#474747;border-radius:0;}
  .header_popup_conference{padding:4px 15px;}
  .footer_popup_conference{width:100%;height:100px;position:absolute;bottom:0;background:#333333;padding:25px 15px;justify-content:center;}
  .footer_popup_conference p{padding-top:12px;}
  .footer_popup_conference .item_footer{margin:0 40px;}
  .item_user img{width:50px;height:50px;border-radius:50%;margin:5px;}
  .item_user.d_flex.flex_column.align_c{width:250px;}
  .list_user_join_conf{margin:0 8px 0 25px;overflow-x:hidden;}
  @media (max-width: 1024px){
  .footer_popup_conference .item_footer{margin:0 30px;}
  }
  @media (max-width: 767.98px){
  .font_s16{font-size:14px;}
  }
  @media (max-width: 480px){
  .footer_popup_conference .item_footer{margin:0 20px;}
  .footer_popup_c img,.header_popup_r img{width:40px;height:40px;}
  .font_s16{font-size:16px;}
  .font_s18{font-size:16px;}
  }
  }
  /*! CSS Used from: https://chat365.timviec365.vn/css/style_h.css?v=50 ; media=all */
  @media all{
  .box_popup_group{width:195px;filter:drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));border-radius:10px;}
  }
  /*! CSS Used from: https://chat365.timviec365.vn/css/style_n.css?v=50 ; media=all */
  @media all{
  .body_popup_conference #remoteVideo,.list_user_join_conf #localVideo{-webkit-transform:scaleX(-1);transform:scaleX(-1);}
  .flex_row{flex-direction:row;}
  .box_popup_group{display:block;position:relative;height:auto;width:195px;filter:unset;}
  #popup_show_count_ppGroup{display:none;}
  .read_pp{height:60px;}
  .real_name{padding:21px 0px 17px 10px;}
  .avata_img{padding:12px 0px 12px 13px;}
  .avata_img img{width:36px;height:36px;border-radius:50%;}
  .point_status{top:33px;right:0;bottom:0;}
  .item_user_more{width:50px;height:50px;border-radius:50%;margin:5px;display:none;}
  .item_user_more .p_name_chon{position:absolute;color:#000;}
  @media (max-width: 1024px){
  .item_user{display:none;}
  .popup_call_chat365 .item_user{display:block;}
  .popup_call_chat365 .body_popup_conference{width:100%;height:70vh;}
  .popup_call_chat365 .body_popup_conference video{width:100%!important;}
  .header_popup_r .item_user.d_flex.flex_column.align_c{width:auto;}
  .item_user.item_user_more{display:flex;width:50px;height:50px;border-radius:50%;}
  .list_user_join_conf .item_user_more{display:none;}
  #popup_show_count_ppGroup .box_popup_group{width:324px;}
  .list_user_join_conf{margin:0;margin-left:8px;}
  }
  @media (max-width: 480px){
  .footer_popup_conference .item_footer{margin:0 20px;}
  #popup_show_count_ppGroup .box_popup_group{width:300px;}
  }
  }

@media all{
  *{padding:0;margin:0;font-family:Roboto;box-sizing:border-box;}
  .d_flex{display:flex;}
  .space_b{justify-content:space-between;}
  .text_a_c{text-align:center;}
  .flex_column{flex-direction:column;}
  .align_c{align-items:center;}
  .color_grey{color:#474747;}
  .font_s16{font-size:16px;}
  .font_s18{font-size:18px;}
  .font_wB{font-weight:bold;}
  ::-webkit-scrollbar{background-color:#F5F5F5;width:3px;height:7px;}
  ::-webkit-scrollbar-thumb{background:#b7b9c5;}
  }
  @media all{
  .back_white{background:#FFFFFF;}
  .popup_show{position:fixed;z-index:4;padding-top:30px;padding-bottom:30px;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgba(0, 0, 0, 0.4);}
  .container_popup{width:fit-content;margin:auto;box-shadow:0px 0px 10px rgb(0 0 0 / 10%);border-radius:10px;-webkit-animation-name:animatetop;-webkit-animation-duration:0.4s;animation-name:animatetop;animation-duration:0.4s;}
  #answer_call{padding:10px 30px;border-radius:10px;background:#76B51B;cursor:pointer;color:#fff;}
  #reject{padding:10px 30px;border-radius:10px;background:red;cursor:pointer;color:#fff;}
  .box_popup_end_rec{width:400px;height:260px;background:#FFFFFF;border-radius:10px;padding:38px 0;box-shadow:0px 4px 8px rgba(0, 0, 0, 0.25);}
  #popup_show_call_mess .box_popup_end_rec{height:160px;}
  @media (max-width: 767.98px){
  .font_s16{font-size:14px;}
  }
  @media (max-width: 480px){
  .font_s16{font-size:16px;}
  .box_popup_end_rec{width:345px!important;}
  .font_s18{font-size:16px;}
  }
  }
